
#box{
  max-width: 1000px;
  margin: auto;
}
p{
  text-align: center;
  color: black;
}
.smallbox{
  display: flex;
}
.smallbox:nth-child(odd){

  flex-direction: row-reverse;
}
.boxleft{
  /*float: left;*/
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  height: 220px;
  /*border: 1px solid black;*/
}
.boxright{
  /*float: left;*/
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  height: 220px;
  /*border: 1px solid blue;*/
}
a{
  text-decoration: none;
}
span{
  font-size: xx-large;
}

